/*
 * ***项目品牌色样式***
 * --default-color: 默认品牌色
 * --default-background-color: 品牌背景色
 * --assist-color1: 辅助色1
 * --assist-color2: 辅助色2
 * --assist-color3: 辅助色3
 * --assist-color4: 辅助色4
 * --error-color: 警报色
 * --tips-color: 提示色
 * --font-title-color: 标题色
 * --font-content-color: 正文
 * --font-assist-color: 辅助文字
 * --model-background-color: 模块背景
 * --background-color: 背景色
 */
page {
	--default-color: #FEDA44;
	--default-background-color: #FFF8DA;
	
	--assist-color1: #FF9351;
	--assist-color2: #FEC730;
	--assist-color3: #97D4F3;
	--assist-color4: #BCB4FA;
	
	--error-color: #FF7366;
	--tips-color: #57DD93;
	
	--font-title-color: #000000;
	--font-content-color: #666666;
	--font-assist-color: #999999;
	
	--model-background-color: #F9F9F9;
	--background-color: #FAFAFA;
	
	padding: 0 50rpx;
}

.card {
	border-radius: 30rpx;
	box-sizing: border-box;
	padding: 28rpx;
}