@font-face {
  font-family: "iconfont"; /* Project id 4272669 */
  src: url('iconfont.woff2?t=1696182055233') format('woff2'),
       url('iconfont.woff?t=1696182055233') format('woff'),
       url('iconfont.ttf?t=1696182055233') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before {
  content: "\e600";
}

.icon-fanhui:before {
  content: "\e601";
}

.icon-fanhuidingbu:before {
  content: "\e672";
}

.icon-xinjian:before {
  content: "\e602";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-canyin:before {
  content: "\e644";
}

.icon-yundong:before {
  content: "\e63a";
}

.icon-youjiantou:before {
  content: "\e631";
}

.icon-shuiguo:before {
  content: "\e62f";
}

.icon-caidan:before {
  content: "\e603";
}

.icon-rili1:before {
  content: "\e604";
}

.icon-rili2:before {
  content: "\e605";
}

.icon-rili4:before {
  content: "\e606";
}

.icon-rili3:before {
  content: "\e607";
}

.icon-rili5:before {
  content: "\e608";
}

.icon-rili7:before {
  content: "\e609";
}

.icon-rili8:before {
  content: "\e60a";
}

.icon-rili11:before {
  content: "\e60b";
}

.icon-rili9:before {
  content: "\e60c";
}

.icon-rili12:before {
  content: "\e60d";
}

.icon-rili10:before {
  content: "\e60e";
}

.icon-rili13:before {
  content: "\e60f";
}

.icon-rili14:before {
  content: "\e610";
}

.icon-rili6:before {
  content: "\e611";
}

.icon-rili15:before {
  content: "\e612";
}

.icon-rili17:before {
  content: "\e613";
}

.icon-rili16:before {
  content: "\e614";
}

.icon-rili18:before {
  content: "\e615";
}

.icon-rili19:before {
  content: "\e616";
}

.icon-rili21:before {
  content: "\e617";
}

.icon-rili20:before {
  content: "\e618";
}

.icon-rili24:before {
  content: "\e619";
}

.icon-rili22:before {
  content: "\e61a";
}

.icon-rili25:before {
  content: "\e61b";
}

.icon-rili23:before {
  content: "\e61c";
}

.icon-rili27:before {
  content: "\e61d";
}

.icon-rili26:before {
  content: "\e61e";
}

.icon-rili29:before {
  content: "\e61f";
}

.icon-rili28:before {
  content: "\e620";
}

.icon-rili31:before {
  content: "\e621";
}

.icon-rili30:before {
  content: "\e622";
}

.icon-fanhui1:before {
  content: "\e8a4";
}

.icon-zhankai:before {
  content: "\e623";
}

.icon-youxi:before {
  content: "\e624";
}

.icon-bianji:before {
  content: "\e641";
}

.icon-xinjian1:before {
  content: "\e64b";
}

.icon-huluobu:before {
  content: "\e625";
}

.icon-yuandiancaidan:before {
  content: "\e6a9";
}

.icon-wode:before {
  content: "\e626";
}

.icon-shangjiantou:before {
  content: "\e627";
}

.icon-shezhi:before {
  content: "\e628";
}

.icon-suo:before {
  content: "\e629";
}

.icon-paperroll:before {
  content: "\eb68";
}

.icon-jiaoyimingxi:before {
  content: "\e673";
}

.icon-yanjing:before {
  content: "\e6cf";
}

.icon-yanjing1:before {
  content: "\e6d1";
}

.icon-arrow-down:before {
  content: "\e62a";
}

.icon-hzp:before {
  content: "\e62b";
}

.icon-xinxi:before {
  content: "\e6cd";
}

.icon-tubiao:before {
  content: "\e62c";
}

.icon-read:before {
  content: "\e89e";
}

.icon-clothes:before {
  content: "\e8c7";
}

.icon-bus:before {
  content: "\e9cd";
}

.icon-subway:before {
  content: "\e9d2";
}

.icon-airplane:before {
  content: "\e9d5";
}

.icon-shequ:before {
  content: "\e62d";
}

.icon-youjiantou1:before {
  content: "\e62e";
}

.icon-chahao:before {
  content: "\e630";
}

